<div{{ attributes }}>
    <twig:Title:H2>Residents List</twig:Title:H2>
    <table class="w-full table-fixed gap-4">
        <thead>
        <tr class="mb-6 border-b border-b-2 ">
            <th class="w-12 text-right p-2">Rm</th>
            <th class="w-20 md:w-1/3 text-left p-2">Name</th>
            <th class="w-20 md:w-1/3 hidden md:table-cell text-left p-2">Referent</th>
            <th class=" text-right p-2"><twig:Button:Primary class="!w-32 mr-1">Ajouter</twig:Button:Primary></th>
        </tr>
        </thead>
        <tbody>
        {% for resident in this.residents %}
        <tr class="even:bg-black/5 dark:even:bg-white/5">
            <td class="w-12 text-right p-2">{{ resident.room.number}}</td>
            <td class="w-24 md:w-1/3 p-2">{{ resident.firstname }}</td>
            <td class="w-24 md:w-1/3 p-2">{{  resident.referent.name}}</td>
            <td class="p-1 flex justify-end">
                <twig:Button:Primary class="!w-32 mr-1">Detail</twig:Button:Primary>
                <twig:Button:Secondary class="hidden lg:table-cell !w-32 border-red-800 text-red-800">Supprimer</twig:Button:Secondary>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
