{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Change password</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
