<div class="">
    <twig:Title:H2>Basics edit</twig:Title:H2>
    <div class="w-full grid lg:grid-cols-2 gap-4 my-4">
        {% for base in form.bases %}
            <div class="w-full flex">
                <div class="w-1/12">
                    {{ form_widget(base, {'attr': {'class': ''}}) }}
                </div>
                <div class="w-11/12">
                    {{ form_label(base, null, {'label_attr': {'class': 'inline'}}) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
