<a {{ attributes.defaults({
    class: 'w-full lg:w-auto px-2 py-1.5 text-sm text-semibold text-center cursor-pointer bg-black/20 dark:bg-white/50 text-black dark:text-white rounded-md' })
}}>
    {% block content %}{{ label }}{% endblock %}
</a>