<a {{ attributes.defaults({
    class:
    'w-full inline-block lg:w-auto px-4 py-2 text-sm text-center cursor-pointer
     bg-black/20 dark:bg-white/50 text-black font-semibold rounded-md
     outline outline-black/20 border border-2 border-black/20 dark:border-white/50 '
})
}}>
    {% block content %}{{ label }}{% endblock %}
</a>