<a {{ attributes.defaults({
    class:
    'w-full lg:w-auto px-2 py-1.5 text-sm text-center cursor-pointer
            bg-transparent
            text-blue-600 dark:text-stone-300  text-semibold
            outline outnline-black-900 dark:border-stone-300 rounded-md'
}) }}>
    {% block content %}{% endblock %}
</a>
