<button {{ attributes.defaults({
    class: 'w-full xl:w-14 px-6 py-3
            bg-transparent
            text-blue-600 dark:text-stone-300  text-semibold
            border border-blue-600 dark:border-stone-300 rounded-md'
}) }}>
    {% block content %}{% endblock %}
</button>