<a {{ attributes.defaults({
    class:
            'w-full flex items-center justify-center gap-x-4
             md:w-fit px-4 py-2 font-semibold  cursor-pointer
            bg-transparent dark:bg-transparent text-black dark:text-black rounded-md
            outline outline-2 outline-light-primary dark:outline-dark-primary'
}) }}>
    {% block content %}{% endblock %}
</a>
