<button {{ attributes.defaults({
    type: 'submit',
    class: 'w-full lg:w-fit px-4 py-2 text-sm font-semibold text-center cursor-pointer
            bg-black dark:bg-white text-white dark:text-black rounded-md
            outline-black/20 border border-2 border-black/50 dark:border-white/50 ' }) }}>
    {% block content %} {% endblock %}
</button>