{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.resident.list{% endtrans%}{% endblock %}

{% block body %}
    <div class="space-y-12">
        {{ component('Live:List:Residents' ,{ limit: 5 }) }}
    </div>
{% endblock %}
