{% extends 'base.html.twig' %}

{% block title %}Residents{% endblock %}

{% block body %}
    <h1>Accueil Résidents</h1>
    <div class="space-y-12">
        {{ component('Live:List:Residents' ,{ limit: 5 }) }}

    </div>
{% endblock %}
