{% extends 'base.html.twig' %}
{% block body %}
    <twig:Title:H2>Bienvenue sur Roomate</twig:Title:H2>
        <section class="mt-6 mb-12">
            <twig:Title:H3>Gestion de la Sécurité</twig:Title:H3>
            <p>Découvrez nos fonctionnalités de gestion de la sécurité pour assurer le bien-être de nos résidents. Certains doivent être enfermés à clés, tandis que d'autres ont plus de liberté. Roomate vous permet de prendre des décisions éclairées pour chaque individu.</p>
        </section>
        <section class="mt-6 mb-12">
            <twig:Title:H3>Soins Personnalisés</twig:Title:H3>
            <p>Roomate fournit des informations essentielles sur les soins personnels, y compris les besoins en couches culottes adaptées à la couleur et à la taille de chaque résident. Notre objectif est de garantir que tous nos résidents bénéficient de soins de qualité et de respect de leurs besoins individuels.</p>
        </section>
        <section class="mt-6 mb-12">
            <twig:Title:H3>Compréhension des Habitudes</twig:Title:H3>
            <p>Nous comprenons les habitudes uniques de chaque résident. Découvrez leurs préférences et leurs activités préférées. Consultez nos conseils pour créer un environnement chaleureux et adapté à chaque individu, favorisant une expérience positive et respectueuse.</p>
        </section>

{% endblock %}