{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-3xl font-bold underline">
        Bienvenue sur Roomate
    </h1>

        <section class="mt-6 mb-12">
            <h2 class="mb-2 font-semibold">Gestion de la Sécurité</h2>
            <p>Découvrez nos fonctionnalités de gestion de la sécurité pour assurer le bien-être de nos résidents. Certains doivent être enfermés à clés, tandis que d'autres ont plus de liberté. Roomate vous permet de prendre des décisions éclairées pour chaque individu.</p>
        </section>
        <section class="mt-6 mb-12">
            <h2 class="mb-2 font-semibold">Soins Personnalisés</h2>
            <p>Roomate fournit des informations essentielles sur les soins personnels, y compris les besoins en couches culottes adaptées à la couleur et à la taille de chaque résident. Notre objectif est de garantir que tous nos résidents bénéficient de soins de qualité et de respect de leurs besoins individuels.</p>
        </section>
        <section class="mt-6 mb-12">
            <h2 class="mb-2 font-semibold">Compréhension des Habitudes</h2>
            <p>Nous comprenons les habitudes uniques de chaque résident. Découvrez leurs préférences et leurs activités préférées. Consultez nos conseils pour créer un environnement chaleureux et adapté à chaque individu, favorisant une expérience positive et respectueuse.</p>
        </section>

{% endblock %}