<div {{ attributes.defaults({ class: "w-full flex flex-col items-center"}) }}>
    <div class="w-16">
        {% if base.icon is not empty %}
            <img alt="{{ base.name }}"
                 src="{{ asset('images/base/'~base.icon) }}"
                 class="w-full aspect-square"/>
        {% else %}
            <div class="w-full aspect-square"> </div>
        {% endif %}
    </div>
    <div class="text-xl font-semibold ">
        {{ base.name }}
    </div>
</div>