{% extends 'base.html.twig' %}

{% block title %}Edit Resident{% endblock %}

{% block body %}
    <h1>Edit Resident</h1>

    {{ include('resident/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_resident_index') }}">back to list</a>

    {{ include('resident/_delete_form.html.twig') }}
{% endblock %}
