{% extends 'base.html.twig' %}

{% block title %}New Resident{% endblock %}

{% block body %}
    <h1>Create new Resident</h1>

    {{ include('resident/_form.html.twig') }}

    <a href="{{ path('app_resident_index') }}">back to list</a>
{% endblock %}
